@keyframes pulse {
    0% {
        transform: scale(1);
    } 

    10% {
        transform: scale(0.85);
    }

    20% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.85);
    }

    60% {
        transform: scale(1);
    }

    70% {
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(3%);
    }

    50% {
        transform: translateX(-3%);
    }

    75% {
        transform: translateX(3%);
    }

    100% {
        transform: translateX(0%);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background-color: transparent;
}

html {
    background-color: rgb(0, 10, 37); /* Alternative: #1A1A1A */
    padding-left: 5%;
    padding-right: 5%; 
    scroll-behavior: smooth; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "inter", sans-serif;
    color: white;
    cursor: default;    
}

h1 {
    display: flex;
    align-items: center;
    font-size: 70px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

h1.title {
    font-size: 22px;
}

h1:active {
    transform: scale(0.85);
    transition: all 0.3s ease 0s;
}

h2 {
    font-size: 36px;
    font-weight: 800;
}

h3 {
    font-size: 19px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3.price-result {
    font-size: 26px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.897);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
    text-decoration-color: rgba(255, 255, 255, 0);
    cursor: default;
    transition: all 0.6s ease 0s;
}

h3.price-result.closed {
    opacity: 1;
    display: none;
    transition: all 0.6s ease 0s;
}

h4.details {
    margin-top: -13px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
    text-decoration-color: rgba(255, 255, 255, 0.1);
}

h4.details.closed {
    display: none;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    color: #b4b4b4;
    font-size: 14px;
    cursor: default;
}

p.explanation {
    transition: all 0.6s ease 0s;
}

p.explanation.closed {
    display: none;
    transition: all 0.6s ease 0s;
}

p.footer {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 18px;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

a:hover {
    color: rgba(255, 255, 255, 0.6);
}

nav.main {
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow .3s ease;
    z-index: 5;
    user-select: none;
    background-color: rgb(0, 10, 37);
    border-bottom: solid 0.1px rgba(255, 255, 255, 0.035);
    box-shadow: 0 0 30px 10px rgba(10, 10, 10, 0.10);
}

nav.scrolled {
    box-shadow: 0 0 30px 10px rgb(10, 10, 10);
}

nav.main div.pageLinks ul li {
    float: left;
}

nav.main .page-links ul li:not(:last-child) {
    margin-right: 30px;
}

nav.main .page-links ul li a {
    position: relative;
    display: inline-block;
}

header.content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 12%;
    min-height: 80vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: visible;
    z-index: 1;
    transition: all 0.8s ease 0s;
    border-bottom: solid 0.1px rgba(255, 255, 255, 0.035);
}

button.form-confirm {
    background: rgb(0, 4, 15);
    width: 71.35%;
    height: 45px;
    border: solid 2px rgb(53, 53, 53);
    border-radius: 15px;
    transition: all 0.3s ease 0s;
}

button.form-confirm:hover {
    background: black;
    transition: all 0.3s ease 0s;
}

button.form-confirm.error {
    animation: shake 0.5s ease 0s infinite;
}

button.coffee {
    width: 175px;
    background: url(https://www.buymeacoffee.com/assets/img/guidelines/download-assets-sm-1.svg);
    background-size: cover;
    border: none;
    color: black;
    transition: all 0.3s ease 0.1s;
    
}

button.coffee:hover {
    transition: all 0.3s ease 0s;
    opacity: 0.8;
}

button.coffee-mobile {
    display: none;
    width: 50px;
    height: 50px;
    background: url(https://www.buymeacoffee.com/assets/img/guidelines/logo-mark-3.svg);
    color: black;
    border: none;
    transition: all 0.3s ease 0s;
}

button.coffee-mobile:hover  {
    opacity: 0.8;
    transition: all 0.3s ease 0s;
}

button.install {
    display: none;
    width: 50px;
    height: 50px;
    background: rgb(0, 4, 15);
    border: solid 2px rgb(53, 53, 53);
    color: white;
    transition: all 0.3s ease 0s;
}

button.install.active {
    display: block;
}

button.install:hover  {
    background: black;
    transition: all 0.3s ease 0s;
}

button.menu-button {
    display: none;
    background: black;
}

div.end-space {
    padding: 5%;
}

div.title-button-group {
    display: flex;
    flex-direction: row;
}

div.button-spacing {
    padding-left: 3%;
    padding-right: 3%;
}

div.title-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.result-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.results-space {
    padding: 1%;
}

div.result-section {
    width: 35%;
    transition: all 0.3s ease 0s;
}

div.result-section.showing-result {
    padding-bottom: 8%;
    transition: all 0.3s ease 0s;
}

div.average-section {
    width: 35%;
}

div.div-line {
    margin-top: 3%;
    margin-bottom: 2%;
    width: 71.5%;
    height: 1%;
    border: solid 5px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
}

span.material-icons-round {
    transition: all 0.3s ease 0s;
}

span.material-icons-round.move-down {
    transform: translateY(15%);
    transition: all 0.3s ease 0s;
}

span.material-icons {
    color: white;
}

span.price-span {
    color: white;
    text-decoration: underline;
}

span.heart {
    display: inline-block;
    animation: pulse 2.8s ease infinite;
}

span.north {
    transform: translateY(20%);
    transition: all 0.3s ease 0s;
}

span.trash {
    transform: translateY(20%);
    transition: all 0.3s ease 0s;
}

span.north.moveUp {
    transform: translateY(-10%);
    transition: all 0.3s ease 0s;
}

form {
    width: 100%;
    height: 45%;
    padding-top: 3%;
    padding-bottom: 0%;
    display: flex;
    flex-direction: row;
}

form#second {
    padding-top: 1%;
    padding-bottom: 1%;
}

select {
    width: 35%;
    height: 45px;
    border: solid 2px rgb(100, 100, 100);
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
    padding-left: 1.5%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background: white;
}

select.error {
    border: solid 2px red;
    background-color: rgb(80, 0, 0);
    color: white;
}

option#notvalid {
    display: none;
}

input {
    width: 35%;
    height: 45px;
    border: solid 2px rgb(100, 100, 100);
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
    padding-left: 1.5%;
    transition: all 0.3s ease 0s;   
}

input.error {
    border: solid 2px red;
    background-color: rgb(80, 0, 0);
    color: white;
}

input.error::placeholder {
    color: white;
}

input::placeholder {
    color: black;
}

footer.footer-bottom {
    display: flex;
    flex-direction: row;
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: -5%;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    header.content {
        padding-top: 30%;
    }

    h2.loading-h2 {
        font-size: 28px;
    }

    button.coffee-mobile {
        display: block;
    }

    button.coffee {
        display: none;
    }

    form {
        padding-top: 10%;
        padding-bottom: 3%;
        flex-direction: column;
    }

    form#second {
        padding-bottom: 3%;   
    }

    input {
        width: 100%;
        padding-left: 5%;
    }

    select {
        width: 100%;
        padding-left: 5%;
    }

    p.explanation.closed {
        margin-top: -17%;
    }

    div.form-space {
        padding: 2%;
    }

    div.div-line {
        width: 100%;
        border-radius: 50px;
    }

    div.end-space {
        padding: 10%;
    }

    div.result-container {
        flex-direction: column;
    }
    
    div.average-section, div.result-section {
        width: 100%;
    }

    button.first {
        display: none;
    }

    button.form-confirm {
        width: 100%;
    }

    footer.footer-bottom {
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

@media (min-width: 0px) {
    ::-webkit-scrollbar {
        width: 10px;
        padding: 1%;    
    }
      
    ::-webkit-scrollbar-track {
        background: transparent;
    }
      
    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.1);
        border: solid 5px rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
      
      /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.05);
    }
}

@media all and (display-mode: standalone) {
    button.install.active {
        display: none;
    }
  }